h3, h4
{
	color: #a6a6a6;
}


/* div i paragraf sa ponunjenim odgovorima na pitanja */
.testDiv
{
	width: 60%;
	/*height: 300px;*/
	margin: 150px auto;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0, .4); 
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}

.testSpan
{
	font-size: 14px;
	font-family: Tahoma;
	padding-top: 1px;
	font-weight: bold;
	border-radius: 5px;
	/*color: green;*/
}

form.chooseanswer
{
	/*width: 280px;
	height: 300px;
	margin: 150px auto;*/
	background: white;
	/*border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0, .4);*/ 
	text-align: center;
	padding-top: 1px;
}

/*
.testP:hover
{
	background-color: #F0F0F0;
}*/


#submitAnswerButton {																				/* Submit button */
	border-radius: 3px;
	border: 1px solid #336895;
	box-shadow: inset 0 1px 0 #8dc2f0;
	width: 130px;
	height: 40px;
	margin-top: 10px;
	
	background: linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -o-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -moz-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -webkit-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -ms-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	
	cursor: pointer;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 0 #336895;
	
	font-size: 13px;
}

#submitAnswerButton:hover {
	background: linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -o-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -moz-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -webkit-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -ms-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
}

#submitAnswerButton:active {
	background: linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -o-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -moz-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -webkit-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -ms-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	
	box-shadow: inset 0 0 2px rgba(0,0,0, .3), 0 1px 0 white;
}

/***** FINISH BUTTON STYLE ****/

#submitNoAnswerButton{																				/* Submit button */
	border-radius: 3px;
	border: 1px solid #009900;
	box-shadow: inset 0 1px 0 #009900;
	width: 130px;
	height: 40px;
	margin-top: 10px;
	
	background: linear-gradient(bottom, #009900 0%, #009900 100%);
	background: -o-linear-gradient(bottom, #009900 0%, #009900 100%);
	background: -moz-linear-gradient(bottom, #009900 0%, #009900 100%);
	background: -webkit-linear-gradient(bottom, #009900 0%, #009900 100%);
	background: -ms-linear-gradient(bottom, #009900 0%, #009900 100%);
	
	cursor: pointer;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 0 #336895;
	
	font-size: 13px;
}

#submitNoAnswerButton:hover {
	background: linear-gradient(bottom, #33CC00 0%, #33CC00 100%);
	background: -o-linear-gradient(bottom, #33CC00 0%, #33CC00 100%);
	background: -moz-linear-gradient(bottom, #33CC00 0%, #33CC00 100%);
	background: -webkit-linear-gradient(bottom, #33CC00 0%, #33CC00 100%);
	background: -ms-linear-gradient(bottom, #33CC00 0%, #33CC00 100%);
}

#submitNoAnswerButton:active {
	background: linear-gradient(bottom, #33CC00 0%, #33CC00 100%);
	background: -o-linear-gradient(bottom, #33CC00 0%, #33CC00 100%);
	background: -moz-linear-gradient(bottom, #33CC00 0%, #33CC00 100%);
	background: -webkit-linear-gradient(bottom, #33CC00 0%, #33CC00 100%);
	background: -ms-linear-gradient(bottom, #33CC00 0%, #33CC00 100%);
	
	box-shadow: inset 0 0 2px rgba(0,0,0, .3), 0 1px 0 white;
}