body,html
{
  height:100%;
}

body
{
	/* ovde treba da se ubaci pozadinska slika */
/*	background: url('../images/background.png') fixed 50% no-repeat white;*/
	margin:0;
	padding:0;
	font-family: Helvetica;
}

h2, h4
{
	color: #a6a6a6;
}

#lessionNumberSpan1
{
	float: left;
	color: #4889C2;
	font-weight: bold;
	text-decoration: none;
	-moz-transition: all .4s;
}

#lessionNumberSpan2
{
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	background: #4889C2;
}

#wrapper
{
	height:100%;
	overflow:hidden;
}

#tabs
{
	height:100%;
}

#mainDiv
{
	height:90%;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #ccc;
}

#countDiv
{

	position: fixed;
	/*margin:0px auto;*/
	bottom: -5px; 
	/*width:100%;*/
	left: 120px;
	right: 120px;
	text-align: center;
}

.lessionDiv
{
	height:100%;
}

.ui-tabs .ui-tabs-panel
{
height: 100%;
	margin:0; 
	/*border: 1px solid #ccc;*/ 
	/*height: 85%; */
}

#bottomDiv
{
	display:none;
	position: fixed;
	/*margin:0px auto;*/
	bottom: 27px; 
	width:100%;
	background-color:#F0F0F0;
	text-align: center;
	
}

.close {
    float: right;
    color: #4889C2;
    cursor:pointer;

}



/* NAVIGATION */

nav {
	
	/*
	position: fixed;
	top: 10px;
	right: 10px;	*/
}

nav a {
	color: #4889C2;
	font-weight: bold;
	text-decoration: none;
	opacity: .3;
	-moz-transition: all .4s;
}

nav a:hover {
	opacity: 1;
}

nav a.focus {
	opacity: 1;
}

.startWrap {
	width: 280px;
	height: 260px;
	margin: 200px auto;
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0, .4); 
	text-align: center;
	padding-top: 1px;
}

#navigationDiv
{
	height: 2%;
	/*margin: 10px;*/
	padding: 10px;
	text-align: right;
}

.error
{
	/*position:absolute;
	left:270px;
	top:40px; */
	padding-top: 5px;
	color:red;
	font-size:12px;
	
}
#thanksDiv
{
	text-align: center;
	color:  #4889C2;
	font-weight:bold;
	font-size:22px;
	margin: 50px;
	
}

/* LOGIN & REGISTER FORM */

form.signin, form.welcome, form.welcomeQuiz
{
	width: 280px;
	height: 300px;
	margin: 150px auto;
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0, .4); 
	text-align: center;
	padding-top: 1px;
}

form.register{
	width: 280px;
	height: 385px;
	margin: 150px auto;
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0, .4); 
	text-align: center;
	padding-top: 1px;/* Register form height */
	
}

form .text-field {																			/* Input fields; Username, Password etc. */
	border: 1px solid #a6a6a6;
	width: 230px;
	height: 40px;
	border-radius: 3px;
	margin-top: 10px;
	padding-left: 10px;
	color: #6c6c6c;
	background: #fcfcfc;
	outline: none;
}

form .text-field:focus {
	box-shadow: inset 0 0 2px rgba(0,0,0, .3);
	color: #000000;
	background: white;
}

form .button {																				/* Submit button */
	border-radius: 3px;
	border: 1px solid #336895;
	box-shadow: inset 0 1px 0 #8dc2f0;
	width: 242px;
	height: 40px;
	margin-top: 20px;
	
	background: linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -o-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -moz-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -webkit-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -ms-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	
	cursor: pointer;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 0 #336895;
	
	font-size: 13px;
}

form .button:hover {
	background: linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -o-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -moz-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -webkit-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -ms-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
}

form .button:active {
	background: linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -o-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -moz-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -webkit-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -ms-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	
	box-shadow: inset 0 0 2px rgba(0,0,0, .3), 0 1px 0 white;
}